[submodule "godot-headers"]
	path = godot-headers
	url = https://github.com/godotengine/godot-headers.git
[submodule "gdsam-plugin"]
	path = gdsam-plugin
	url = https://github.com/deadpixelsociety/gdsam-plugin
